.outerWrapper {
    position: relative;
}

.outerWrapper::before {
    content: '';
    height: 100%;
    width: 10px;
    background: #05AC54;
    position: absolute;
    left: 0;
    top:0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rating {
    position: relative;
    left: .2rem;
    scale: .9;
}

.rating::before {
    content: '';
    height: 35px;
    width: 35px;
    border: 4px solid #F7D976;
    position: absolute;
    inset: 0;
    top:-7px;
    left: -6px;
    border-radius: 50%;
}

.opens {
    position:relative;
    --isOpen: #CC2D23;
}

.opens::before {
    content: '';
    height:7px;
    width: 7px;
    background: var(--isOpen);
    position: absolute;
    inset: 0;
    top: 5px;
    left: -12px;
    border-radius: 50%;
}

.isOpenNo {
    --isOpen: #CC2D23;
}

.isOpenYes {
    --isOpen: #05AC54;
}